*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Uu]ser[Ss]ettings/
*/[Rr]ecordings/
*/[Mm]emoryCaptures/
*/[Aa]ssets/ALP_Assets/
*/[Aa]ssets/FreeTestCharacterAsuna/
*/[Aa]ssets/Textures/
*/[Aa]ssets/TreeCollection/
*/[Pp]ackages/
.gradle/
.vs/
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties
*/[Aa]ssets/[Ss]treamingAssets/aa.meta
*/[Aa]ssets/[Ss]treamingAssets/aa/*
